{% extends 'desings/baseDashboard.html.twig' %}
{# José Hernández email: jghernandez053@gmail.com #}
{% block contentDashboard %}
    <div class="row">
        <!--Pantalla oculta para seleccionar tipo de opciones-->
        <div class="msg_sel" id="msg01">
                <div id="message_sel">
                    <h4 class="_orange" style="text-align:left"><span class="glyphicon glyphicon-list-alt" style="margin-right:10px;"></span>SELECCION</h4>
                    <hr class="line_style" />
                    <p style="text-align:left" class="af-text-win-select" >Se ha seleccionado el siguiente dato:</p>
                    <label id="msg1"></label>
                    <label id="msg2"></label>
                    <hr>
                    <a  href="#" id="selWin" class="btn btn-ttc">
                        <span class="glyphicon glyphicon-edit" style="margin-right:10px;"></span>Crear Traslado
                    </a>
                    <a href="javascript://salir ;" id="outwin" class="btn btn-ttc">
                        <span class="glyphicon glyphicon-log-out" style="margin-right:10px;"></span>Salir
                    </a>
                </div>
        </div>
        <!-- Fin Pantalla oculta para seleccionar tipo de opciones-->

        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-6 left title_modify">
                        <h3 class="af-title-h3">SELECCIONAR ACTIVO FIJO</h3>
                        <h4><small>Seleccione el activo fijo que desea mover a otra ubicación.</small> </h4>
                </div>
                <div class="col-lg-6 text-right" style="margin-bottom:12px;" >
                </div>
            </div>
            <hr class="line-style-top-table" />
            <div class="row ventana1 form-inline">
                <div class="col-md-4 form-group">
                    <label for="selPropiedad" class="requerid">Propiedad:</label>
                    <select id="selPropiedad" class="form-control">
                        <option value="select" selected>Seleccione</option>
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label for="selUbicacion" class="requerid">Ubicación:</label>
                    <select id="selUbicacion" class="form-control">
                        <option value="select" selected>Seleccione</option>
                    </select>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <table id="tblActivoFijo"  class="table table-striped table-hover text_table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>DESCRIPCION</th>
                        <th>FECHA</th>
                        <th>SERIAL</th>
                        <th>CÓDIGO ASIGNADO</th>
                        <th>COSTO TOTAL</th>
                        <th>CLASIFICACIÓN</th>
                        <th>ESTADO</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="row mb-4">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-8 col-right text-center">
                    <a  href="{{ path('app_traslado') }}" class="btn btn-dark">Retornar</a>
                </div>
                <div class="col-lg-2"> 
                </div>
            </div>

        </div>
        <div class="col-lg-2">
                <h4 class="_orange">FILTRO PROPIEDAD:</h4>
                <hr class="line_style" />
                <p class="af-p-12">Deberá seleccionar la propiedad para que pueda actualiza lista desplegable de ubicaciones.</p>
                <br>
                <h4 class="_orange">FILTRO UBICACIÓN:</h4>
                <hr class="line_style" />
                <p class="af-p-12">Seleccione la ubicación desde la lista desplegable para que se pueda ingresar activos fijos.</p>
                <br>
                <h4 class="_orange">LISTADO:</h4>
                <hr class="line_style" />
                <p class="af-p-12">Seleccione algun items y haga clic para poder modificarlo, o eliminarlo.</p>

        </div>
    </div>
{% endblock %}

{% block javascriptsFooter %}

<script type="text/javascript">
    var tblActivoFijo=null;
    var idCode = "";
    var idPropiedad="";
    var idUbicacion="";

    $(document).ready(function(e){
        //loadLstActivoFijo();

        $(document).on("click",".tr-select",function(event){
            //console.log("Seleccionado:" + $(this).attr("id"));
            idCode = String($(this).attr("id"));
            var idNombre = "#name_" + String($(this).attr("id"));
            var Nombre = $(idNombre).val();

            var rutaEdit = "{{ path('new_traslado',{idActivo:'invertCode'}) }}";

            rutaEdit = rutaEdit.replace('invertCode',idCode);

            $("#selWin").attr("href",rutaEdit);

            $("#msg1").empty();
            $("#msg2").empty();
            $("#msg1").html("<b>Id:</b>"+idCode);
            $("#msg2").html("<b>Descrip:</b>"+Nombre);

            $("#msg01").fadeIn('slow',function(e){
                $("#msg01").css("display","inherit");
            });
        });

        $("#outwin").click(function(e){
            e.preventDefault();
            $("#msg01").fadeOut('slow',function(e){
                $("#msg01").css("display","none");
            })
        });

        $("#SearchData").click(function(e){
            e.preventDefault();
            console.log("Hizo clic");
            loadLstActivoFijo();
        })

        var rootSelProp="{{ path('ajax_sel_prop') }}";

        $.ajax({
            data:{},
            method:'post',
            dataType:'json',
            url:rootSelProp,
            error:function(err,txt,thr){
                $('body').empty();
                $('body').html(err.responseText);
            },
            success:function(result){
                if (result.ok=='01'){
                    var idProp = 'select';
                    /*  Verificar la Cookies */
                    if (!!$.cookie('idPropiedad')){
                        idProp = $.cookie('idPropiedad');
                        idPropiedad = $.cookie('idPropiedad');
                        selectUbicacion(idProp);
                    }
                    var htmlCode = '';
                    $.each(result.elements,function(posc,item){
                        if (idProp==item.id){
                            htmlCode+='<option value="'+item.id+'" selected>'+item.data+'</option>\n';
                        } else {
                            htmlCode+='<option value="'+item.id+'">'+item.data+'</option>\n';
                        }
                    });
                    $("#selPropiedad").empty();
                    $("#selPropiedad").append(htmlCode);
                    //loadLstActivoFijo();
                    $("#selPropiedad").change();
                } else {
                    console.log(result.msg);
                }
            }
        });

        $("#selPropiedad").change(function(e){
            idPropiedad = $(this).val();

            $.cookie('idPropiedad',idPropiedad);

            selectUbicacion(idPropiedad);

        });
        $("#selUbicacion").change(function(e){
            idUbicacion = $(this).val();

            $.cookie('idUbicacion',idUbicacion);

            loadLstActivoFijo();
            
            var rootNew = "{{ path('new_activofijo',{'idUbicacion':'valorCamb'}) }}";

            rootNew = rootNew.replace("valorCamb",idUbicacion);

        });

    }); // Fin de Document Ready

    function selectUbicacion(idProp){
        var rootSelUbic="{{ path('ajax_sel_ubic') }}";

        $.ajax({
            data:{'idProp':idProp},
            method:'post',
            dataType:'json',
            url:rootSelUbic,
            error:function(err,txt,thr){
                $('body').empty();
                $('body').html(err.responseText);
            },
            success:function(result){
                if (result.ok=='01'){
                    var idUbic = 'select';
                    /*  Verificar la Cookies */
                    if (!!$.cookie('idUbicacion')){
                        idUbic = $.cookie('idUbicacion');
                        idUbicacion = $.cookie('idUbicacion');
                    }
                    var htmlCode = '';
                    $.each(result.elements,function(posc,item){
                        if (idUbic==item.id){
                            htmlCode+='<option value="'+item.id+'" selected>'+item.data+'</option>\n';
                        } else {
                            htmlCode+='<option value="'+item.id+'">'+item.data+'</option>\n';
                        }
                    });
                    $("#selUbicacion").empty();
                    $("#selUbicacion").append(htmlCode);
                    //loadLstActivoFijo();
                    $("#selUbicacion").change();
                } else {
                    console.log(result.msg);
                }
            }
        });

    }

    function loadLstActivoFijo(){
        var rootAjaxList = "{{ path('ajax_lstActivoFijo') }}";

        tblActivoFijo = $('#tblActivoFijo').dataTable({
                destroy:true,
                serverSide: true,
                searching: true,
                lengthChange: false,
                pageLength:5,
                language:{
                    info:"Mostrando  _END_/_TOTAL_ ",
                    infoEmpty:"No se tiene datos", 
                    paginate:{
                        first:"Primero",
                        previous:"Previo",
                        next:"Próximo",
                        last:"Último"
                    }
                },
                dom: '<"btnSearch">Pfrtip',
                ajax:{
                    data:{'idPropiedad':idPropiedad, 'idUbicacion':idUbicacion},
                    method:"POST",
                    dataType:"JSON",
                    url:rootAjaxList,
                    error: function(err,txt,thr){
                        $("body").empty();
                        $("body").html(err.responseText);
                    }
                },
                columns:[
                    {data:"id"},
                    {data:"descrip"},
                    {data:"fechac"},
                    {data:"numserie"},
                    {data:"code"},
                    {data:"costot"},
                    {data:"clasef"},
                    {data:"estado"},

                ],
                deferRender: true
        });
        $("div.btnSearch").html('<button type="button" class="btn btn-dark" id="SearchData"><i class="fa fa-search"></i></button>');	            
    }
</script>
{% endblock %}
