{% extends 'desings/baseDashboard.html.twig' %}
{# José Hernández email: jghernandez053@gmail.com #}
{% block contentDashboard %}
{{ form_start(form,{'attr':{'role':'form','novalidate':'novalidate','class':'form-inline'}}) }}
<div class="row ml-2">
    <div class="modal-sel-win" id="selectResp">
        <div class="box-sel-win"> 
            <div class="row x-title">
                <h5 class="af-title-h5 text-center">Seleccionar Responsable</h5>
                <div class="col-md-12">
                    <table id="tblSelResp"  class="table table-striped table-hover text_table" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NOMBRES</th>
                                <th>APELLIDOS</th>
                                <th>CARGO</th>
                                <th>TELEFONO</th>
                                <th>MOVIL</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12 text-center">
                    <a href="#" id="exitWin" class="btn btn-dark">Retornar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 af-content-data ventana1">
        <div class="row x_title">
            <div class="col-lg-12">
                <h3 class="af-title-h3">FINIQUITO DE ACTIVO FIJO</h3>
                <h4><small>Indique la información correcta para que se pueda finalizar el activo fijo, Verifique los datos suministrados  cumplen con proceso.</small> </h4>
            </div>
        </div>
        <!--Informacion -->
        <div class="row box-af-style1">
        <div class="row">
                <div class="col-md-6 form-group">
                    <p><b>Activo Fijo:</b>{{ datosAF.descrip}}</p>
                </div>
                <div class="col-md-6 form-group">
                    <p><b>Fecha de Compra:</b>{{ datosAF.fechac }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <p><b>Número de Factura:</b>{{ datosAF.nrofact }}</p>
                </div>
                <div class="col-md-6 form-group">
                    <p><b>Distribuidor:</b>{{ datosAF.distrib }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <p><b>Costo:</b>{{ datosAF.costo }}</p>
                </div>
                <div class="col-md-4 form-group">
                    <p><b>Impuesto:</b>{{ datosAF.impuesto }}</p>
                </div>
                <div class="col-md-4 form-group">
                    <p><b>Costo Total:</b> {{ datosAF.costot }}</p>
                </div>
            </div>
        </div>
        <!-- Datos -->
        <div class="row box-af-style1" >
            <h5 class="af-title-h5 text-center">DATOS PARA EL FINIQUITO</h5>
            <div class="row">
                <div class="col-md-4 form-group">
                    {{ form_label(form.id_af) }}
                    {{ form_widget(form.id_af,{'attr':{'value':idActivo}}) }}
                    <input type="hidden" id="id_mant" name="id_mant" class="form-control" value="{{ mejora.id_mant }}" autocomplete="off" />
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.fecha_finiquito) }}
                    {{ form_widget(form.fecha_finiquito) }}
                </div>
                <div class="col-md-4">
                    {{ form_label(form.id_fin) }}
                    {{ form_widget(form.id_fin) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    {{ form_label(form.tipo_finiquito) }}
                    {{ form_widget(form.tipo_finiquito )}}
                </div>
                <div class="col-md-8 form-group">
                    <p class="af-p-12 af-p-info">Indique como desea finiquitar el activo fijo, si existe una mejora el sistema automáticamente se colocara en Mejora.</p>
                </div>
            </div>
        </div>
        <div class="row box-af-style1" >
            <h5 class="af-title-h5 text-center">CALCULO ACTUALES SOBRE EL ACTIVO</h5>
            <div class="row">
                <div class="col-md-4 form-group">
                    {{ form_label(form.costo_actual) }}
                    {{ form_widget(form.costo_actual) }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.factor_inflac) }}
                    {{ form_widget(form.factor_inflac) }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.costo_ajustado) }}
                    {{ form_widget(form.costo_ajustado) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    {{ form_label(form.dep_acumulada) }}
                    {{ form_widget(form.dep_acumulada) }}
                </div>
                <div class="col-md-6 form-group">
                    <p  class="af-p-12 af-p-info" >El costo actual del activo tiene relación con el valor de  salvamento, en el  caso de no haberlo indicado serán cero.  Si el activo se terminó de amortizar durante tiempo, el programa lo ajusta a la inflación actual mediante el  factor de INDP.</p>
                </div>
            </div>
            <h5 class="af-title-h5 text-center">DATOS POR CONCEPTO DE VENTA O CIERRE</h5>
            <hr style="width:100%"> 
            <div class="row">
                <div class="col-md-4 form-group">
                    {{ form_label(form.monto_venta) }}
                    {{ form_widget(form.monto_venta) }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.ganancia_vta) }}
                    {{ form_widget(form.ganancia_vta) }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.perdida_vta) }}
                    {{ form_widget(form.perdida_vta) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <p class="af-p-12 af-p-info">Si aplica finiquito por obsoleto  el monto de la venta no es editable y su valor será encontrara en cero. </p>
                </div>
            </div> 
        </div>
        <div class="row box-af-style1" >
            <h5 class="af-title-h5 text-center">DATOS POR CONCEPTO DE MEJORA</h5>
            <div class="row">
                <div class="col-md-4 form-group">
                    {{ form_label(form.costo_mej) }}
                    {{ form_widget(form.costo_mej,{'attr':{'value':mejora.costo_mej}}) }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.imp_mej) }}
                    {{ form_widget(form.imp_mej,{'attr':{'value':mejora.imp_mej}}) }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.total_mej) }}
                    {{ form_widget(form.total_mej,{'attr':{'value':mejora.total_mej}}) }}
                </div>
            </div>
            <hr style="width:100%"> 
            <h4>GASTOS POR CONCEPTO DE FLETE O TRASLADO</h4>
            <div class="row">
                <div class="col-md-4 form-group">
                    {{ form_label(form.costo_flete) }}
                    {{ form_widget(form.costo_flete,{'attr':{'value':mejora.costo_flete}}) }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.imp_flete) }}
                    {{ form_widget(form.imp_flete,{'attr':{'value':mejora.imp_flete}}) }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.total_flete) }}
                    {{ form_widget(form.total_flete,{'attr':{'value':mejora.total_flete}}) }}
                </div>
            </div>
            <hr style="width:100%"> 
            <div class="row">
                <div class="col-md-12 form-group">
                    {{form_label(form.nueva_descrip)}}
                    {{form_widget(form.nueva_descrip)}}
                </div>
            </div>
        </div>
        <div class="row box-af-style1" >
            <h5 class="af-title-h5 text-center">INFORMACIÓN OPCIONAL </h5>
            <div class="row">
                <div class="col-md-12 form-group">
                    {{form_label(form.observacion)}}
                    {{form_widget(form.observacion)}}
                </div>
            </div>
        </div>        
        <div class="row">
            <div class="col-md-12">
                <span class="text-danger">{{ form_errors(form.id_af) }}</span>
                <span class="text-danger">{{ form_errors(form.fecha_finiquito) }}</span> 
                <span class="text-danger">{{ form_errors(form.monto_venta) }}</span> 
                <span class="text-danger">{{ form_errors(form.observacion) }}</span> 
            </div>
        </div>
        <!-- Botones -->
        <div class="row mt-4" style="clear:left">
            <div class="col-md-12">
                <div class="form-group" style="float:right;clear:right;"> 
                    {{ form_widget(form.write) }}
                    <a href="{{path('app_finiquitar')}}" class="btn btn-dark">Retornar</a>
                </div>
            </div>
        </div>
        <!-- Botones -->
    </div>
    <div class="col-md-2">
        <h4 class="_orange">INFORMACION:</h4>
        <hr class="line_style" />
        <p class="af-p-12">Ingrese los datos solicitado, para culminar y guardar la información hacer clic en el Guardar</p>
    </div>
</div>
{{ form_end(form) }}

{% endblock %}

{% block javascriptsFooter %}

<script type="text/javascript">
    var tipoRespSel = 0;
    $(document).ready(function(e){
        // Salir de la ventana de Seleccion 
        $("#exitWin").click(function(event){
            event.preventDefault();
            tipoRespSel = 0;
            $("#selectResp").fadeOut("slow",function(e){
                $("#selectResp").css("display","none");
            });
        });
        // Seleccion de Responsable 
        $(document).on("click",".tr-select",function(event){
            //console.log("Seleccionado:" + $(this).attr("id"));
            idCode = String($(this).attr("id"));
            var idNombre = "#name_" + String($(this).attr("id"));
            var Nombre = $(idNombre).val();

            var OtroDatos = String($("#cadena_"+idCode).val());
            var arrOtroDatos = OtroDatos.split('/');

            $("#mantenimiento_id_resp").val(idCode);
            $("#nameResp").val(Nombre);

            $("#dat01").val(arrOtroDatos[0]);
            $("#dat02").val(arrOtroDatos[1]);
            $("#dat03").val(arrOtroDatos[2]);

            $("#selectResp").fadeOut("slow",function(e){
                $("#selectResp").css("display","none");

            });

        });

        $("#finiquito_fecha_finiquito").change(function(e){

            //const event = new Date(Date.UTC(2012, 11, 20, 3, 0, 0));
            //event.toLocaleString('en-GB', { timeZone: 'UTC' })

            var fechaf = $(this).val();
            var valida = /^(20|19)(\d{2})(\/|\-)(0[1-9]|1[012])(\/|\-)([012][1-9]|3[01])$/;

            console.log(fechaf);
            var fechaNew = fechaf.split("-");

            if (!valida.test(fechaf)){
                console.log("Fecha no valida!!");
                return;
            }

            var idActivo = $("#finiquito_id_af").val();
            var idMant   =$("#id_mant").val();

            var rootAjax = "{{ path('load_ajax_finiquito') }}"

            $.ajax({
                data:{'fechaf':fechaf,'idMant':idMant,'idActivo':idActivo},
                type:'post',
                dataType:'json',
                url:rootAjax,
                cache:false,
                error:function(err,txt,thr){
                    $('body').empty();
                    $('body').append(err.respnseText);
                },
                success: function(result){
                    if (result.ok=="01"){
                        // Se actualiza los campos de calculos
                        $("#finiquito_costo_actual").val(result.amortiz.costo_actual);
                        $("#finiquito_factor_inflac").val(result.amortiz.factor_inflac);
                        $("#finiquito_costo_ajustado").val(result.amortiz.costo_ajustado);
                        $("#finiquito_dep_acumulada").val(result.amortiz.dep_acumulada);
                        console.log("pasa por ok:"+result.amortiz.dep_acumulada);

                    } else {
                        $("#finiquito_costo_actual").val("0.00");
                        $("#finiquito_factor_inflac").val("0.00");
                        $("#finiquito_costo_ajustado").val("0.00");
                        $("#finiquito_dep_acumulada").val("0.00");
                        swal("Finiquito",result.msg,"error");
                    }
                }
            });

        });

        $("#finiquito_monto_venta").change(function(event){
            var montoVta = parseFloat(String($(this).val()).replace(',',''));
            var costoReal = parseFloat(String($("#finiquito_costo_ajustado").val()).replace(',',''));

            if (montoVta>costoReal){
                var ganancia = (montoVta-costoReal).toFixed(2);
                var perdida = '0.00';
            } else {
                var perdida = (costoReal-montoVta).toFixed(2);
                var ganancia = '0.00';
            }
            $("#finiquito_ganancia_vta").val(ganancia);
            $("#finiquito_perdida_vta").val(perdida);

            if (montoVta==0){
                $("#finiquito_ganancia_vta").val("0.00");
                $("#finiquito_perdida_vta").val("0.00");
            }
        });
        
        $("#finiquito_tipo_finiquito").change(function(event){
            var tipof = $(this).val();
            switch (tipof)
            {
                case 'Obsoleto':
                    $("#finiquito_monto_venta").val("0.00");
                    $("#finiquito_monto_venta").attr("readonly",true);
                    break;
                case 'Venta':
                    $("#finiquito_monto_venta").val("0.00");
                    $("#finiquito_monto_venta").removeAttr("readonly");
                    break;
            }
        });
        $("form[name='finiquito']").submit(function(event){
            var fechaf = String($("#finiquito_fecha_finiquito").val());
            var tipof =  String($("#finiquito_tipo_finiquito").val());
            var montoVta =  parseFloat(String($("#finiquito_monto_venta").val()).replace(',',''));
            var costoActual =  parseFloat(String($("#finiquito_dep_acumulada").val()).replace(',',''));

            if (fechaf.length<=0){
                event.preventDefault();
                $("#finiquito_fecha_finiquito").focus();
                swal("Finiquito","Indique la fecha del finiquito","error");
                return;
            }
            if (costoActual<=0){
                event.preventDefault();
                $("#finiquito_fecha_finiquito").focus();
                swal("Finiquito","Debe tener cálculos para poder procesar el finiquito.","error");
                return;
            }
            if (montoVta<=0 && tipof=='Venta'){
                event.preventDefault();
                $("#finiquito_monto_venta").focus();
                swal("Finiquito","Ingrese el monto de la venta para identificar la ganancia  o  pérdida.","error");
                return;
            }



        });

    }); // Fin Document Ready 


    // La lista de seleccion de responsable
    function loadLstSelResp(){
        console.log("Carga la lista...");

        var rootAjaxList = "{{ path('ajax_lstResponsable') }}";

        tblSelResp = $('#tblSelResp').dataTable({
                destroy:true,
                serverSide: true,
                searching: true,
                lengthChange: false,
                pageLength:8,
                language:{
                    info:"Mostrando  _END_/_TOTAL_ ",
                    infoEmpty:"Mostrando  1 de 0 ", 
                    paginate:{
                        first:"Primero",
                        previous:"Previo",
                        next:"Próximo",
                        last:"Último"
                    }
                },
                dom: '<"btnSearch">Pfrtip',
                ajax:{
                    method:"POST",
                    dataType:"JSON",
                    url:rootAjaxList,
                    error: function(err,txt,thr){
                        $("body").empty();
                        $("body").html(err.responseText);
                    }
                },
                columns:[
                    {data:"id"},
                    {data:"nombre"},
                    {data:"apellido"},
                    {data:"cargo"},
                    {data:"telefono"},
                    {data:"movil"},
                ],
                deferRender: true
        });

        $("div.btnSearch").html('<button type="button" class="btn btn-dark" id="SearchData"><i class="fa fa-search"></i></button>');	            
    }


</script>
<style> 
    @media (min-width:576px)  {
        .form-inline .form-control {
            width: none !important;
        }
    }
</style>
{% endblock %}
